:root {
    --z_index: 999999;
    --lime: hsl(120, 100%, 50%);
    --red: hsl(0, 100%, 50%);
    --blue: hsl(240, 100%, 50%);
    --tomato: hsl(9, 100%, 64%);
    --orange: hsl(39, 100%, 50%);
    --gold: hsl(51, 100%, 50%);
    --lightgrey: hsl(0, 0%, 83%);
    --lightgrey1: hsl(219, 9%, 44%);
    --lightgrey2: #303030;
    --lightgrey3: #181818;
    --grey: #181818;
    --white: hsl(0, 0%, 100%);
    --clr-body-bg: hsl(0, 0%, 100%);
    --clr-txt: hsl(0, 0%, 0%);
    --clr-underline: hsl(0, 0%, 0%);
    --clr-scroll-bar-50: rgba(128, 128, 128, 0.5);
    --tst-time: .250s;
}

html, body {
    overscroll-behavior: none;
}

.minimap__container {
    position: fixed;
    width: 10%;
    top: 1rem;
    left: 1rem;
    overflow: hidden;
    min-width: 5rem;
    z-index: var(--z_index);
    background-color: transparent;
    opacity: .3;
    transition: var(--tst-time) ease-in-out;
}

.minimap__container:hover {
    opacity: 1;
    transition: var(--tst-time) ease-in-out;
}

.minimap__size {
    position: relative;
    z-index: var(--z_index);
    max-width: -webkit-fill-available;
}

.minimap__content,
.minimap__viewer {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    border: none;
}

.minimap__viewer {
    z-index: var(--z_index);
    background-color: transparent;
    box-shadow: inset 0 0px 26px -10px var(--blue, white);
    filter: drop-shadow(0px 0px 0px 100px var(--blue, white));
    border-radius: .2rem;
}

.minimap__content {
    height: 100%;
    z-index: -1;
}

/* -------------- ::-webkit-scrollbar -------------- */

::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
    background-color: #8888 !important;
    border-radius: 1em !important;
}

::-webkit-scrollbar-thumb {
    background: grey !important;
    border-radius: 50px !important;
}