:root {
    --lime: hsl(120, 100%, 50%);
    --red: hsl(0, 100%, 50%);
    --blue: hsl(240, 100%, 50%);
    --tomato: hsl(9, 100%, 64%);
    --orange: hsl(39, 100%, 50%);
    --gold: hsl(51, 100%, 50%);
    --lightgrey: hsl(0, 0%, 83%);
    --lightgrey1: hsl(219, 9%, 44%);
    --lightgrey2: #303030;
    --lightgrey3: #181818;
    --grey: #181818;
    --white: hsl(0, 0%, 100%);
    --clr-body-bg: hsl(0, 0%, 100%);
    --clr-txt: hsl(0, 0%, 0%);
    --clr-underline: hsl(0, 0%, 0%);
    --clr-scroll-bar-50: rgba(128, 128, 128, 0.5);
    --tst-time: .250s;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, input, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    justify-self: center;
    overflow-wrap: break-word;
    margin: 0 auto !important;
}

html, body {
    overscroll-behavior: none;
}

main {
    margin-inline: auto;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    min-width: 390px;
    max-width: min-content;
}

.minimap__container {
    position: fixed;
    top: 1rem;
    left: 1rem;
    min-width: 5rem;
    z-index: 100;
}

.minimap__size {
    position: relative;
    z-index: 5;
    border: solid 2px red;
}

.minimap__content,
.minimap__viewer {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: 0 0;
}

.minimap__viewer {
    z-index: 100;
    border: solid 2px green;
}

.minimap__content {
    height: 100%;
    z-index: -1;
    border: solid 2px pink;
}